body {
    font-family: arial;
    background-color: #0f73ff;
    margin: 00;
}

footer {
    height: 8em;
    padding: 1em
}

h1 {
    font-size: 10em;
    font-variant-caps: all-small-caps;
    text-align: center;
    color: #FFFFFF;
    margin: 0.1em;
}

h2 {
    font-size: 5em;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

h4 {
    font-size: 2em;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

h5 {
    font-size: 1.3em;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

h6 {
    font-size: 0.9em;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

.navbutton{
    width: 200px;
    height:0px;
    background-color: #FFFFFF;
    color: #FFFFFF;
    transition-duration: 0.3s;
    font-variant-caps: all-small-caps;
    font-size: 2em;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.navbutton:hover{
    width: 200px;
    height:100px;
    text-align: center;
    color:#000000;
}

.flex-container{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    height:100px;
}

.page {
    height: 700px;
}

.mainpage {
    padding: 1em 10em 1em 10em;
}

.maintext {
    font-size: 1.5em;
    color: #FFFFFF;
}
